@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

:root {
  --primary-color: #2a324b;
  --secondary-color: #e1e5ee;
  --text-color: #2a324b;
  --background-color: #fff;
  --hover-color: #fff;

  --font-primary: "Roboto", sans-serif;

  --spacing-s: 0px;
  --spacing-m: 25px;
  --spacing-l: 60px;

  --font-size-s: 18px;
  --font-size-l: 16px;

  --border-radius: 4px;
}

* {
  font-family: var(--font-primary);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--secondary-color);
}

#root {
  background-color: var(--background-color);
  width: 80%;
  margin: 8rem auto;
  padding: 0;
}

#tab-container {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  gap: var(--spacing-m);
  padding: 0;

  button {
    width: 100%;
    padding: var(--spacing-m) var(--spacing-l);
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    min-width: 100px;
    height: 80px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: var(--font-size-s);
    border-radius: 0%;

    &:not(.active):hover, &.active {
      background-color: var(--hover-color);
      color: var(--primary-color);
    }

    /*&.active {
      background-color: var(--hover-color);
      color: var(--primary-color);
    }*/
  }
}

#content {
  text-align: left;
  padding: var(--spacing-l);
  max-height: 400px;
  color: var(--text-color);
  max-width: 100%;
  font-size: var(--font-size-l);

  h2,
  p,
  ul {
    display: inline-block;
    text-align: left;
    width: 80%;
  }

  ul {
    padding-right: var(--spacing-l);
    max-width: 600px;
    margin: 0;

    li {
      padding: 0;

      a {
        display: inline-block;
        padding: var(--spacing-s);
        margin: 0 var(--spacing-s);

        &:hover {
          color: var(--text-color);
        }
      }
    }
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
  #root,
  #content {
    width: 90%;
    margin: 4rem auto;
  }

  #tab-container button {
    padding: var(--spacing-s) var(--spacing-m);
    font-size: var(--font-size-l);
  }
}

// Mobile Phones
@media (max-width: 767px) {
  #root,
  #content {
    width: 95%;
    margin: 2rem auto;
  }

  #tab-container {
    flex-direction: column;
    gap: var(--spacing-s);
  }

  #tab-container button {
    padding: var(--spacing-s);
    font-size: var(--font-size-s);
    height: 60px;
  }
}
